<div class="survey-pyramid">
  <div class="survey-sections">
    <div class="survey-instructions" *ngIf="instructions">
      <div class="survey-instructions__logo"></div>
      <br>
      <mat-divider></mat-divider>
      <br>
      <p> You have been sent this short assessment to help identify the Culture within your organization. The assessment should take around 10 minutes to complete. The Culturistics assessment is based on twenty-six (26) words that are associated with various types of organizational culture. </p>
      <p> You will be asked to go through and choose the words that you most associate that are Most Descriptive of your Culture to No Descriptive at All. </p>
      <p> It is important that when answering the survey that you consider what the actual culture versus what you desire the culture to be. <b>Distinguish “real” culture” from “aspirational” culture</b>. Often there is a “wish-list” version of company culture that the executive team wants the company to embrace, while there is an actual culture that the employees live and practice on the ground. The aspirational culture is the stuff you see in the handbooks, the memos, and the posters. The real culture emerges more informally and organically. </p>
      <p> According to culture expert Edgar Schein, a good way to assess any organization’s culture is to look at: </p>
      <ul>
        <li> Its <b>artifacts</b> – the things you can see, such as the mode of dress, the look and feel of the office space, the written values and mission statements, the products, the outer rituals and practices </li>
        <li> Its <b>espoused values</b> – what people say are the company’s values, the company’s official code of conduct, the traits its leaders and managers strive to project  </li>
        <li> Its underlying <b>assumptions</b> – the meaning behind the artifacts and espoused values; the ingrained values that have been unconsciously adopted; the taken-for-granted beliefs </li>
      </ul>
      <p> As you progress through the assessment, you will be asked to go through and choose the words that you most associate with your organization in five different categories. </p>
      <ul>
        <li> <b>Most Descriptive</b> of the organization’s Culture (3 words) </li>
        <li> <b>Slightly Descriptive</b> of the organization’s Culture (6 words) </li>
        <li> Words that are <b>Neutral</b> of your organization’s Culture (8 words) </li>
        <li> <b>Slightly Not Descriptive</b> of your organization’s Culture (6 words) </li>
        <li> <b>Not Descriptive at All</b> of your organization’s Culture. (3 words) </li>
      </ul>
      <p> You can get a description of each word by hovering over the word in the word bank </p>
      <p> Remember, The <em>Culturistics Assessment</em> is very useful in determining the degree to which an organization's culture supports its mission and goals, and in identifying underlying elements in the culture which may work against full achievement of its mission and goals. </p>
      <p> Thank you for the taking the time to complete the survey. </p>
      <h2 class="survey-instructions__tm-title"> Talent Metrics </h2>
      <br>
      <div class="survey-pyramid__button-row">
        <a class="utility__button--primary" (click)="closeInstructions()"> Begin Survey </a>
      </div>
    </div>
    <div *ngIf="veryDescriptive.length < 3 && !instructions">
      <h3> Very Descriptive of your culture</h3>
      <h5>Drag {{ 3 - veryDescriptive.length }} more words from the right</h5>
      <mat-list
        class="survey-sections__drop-area"
        (drop)="drop('veryDescriptive', $event)"
        (dragover)="allowDrop($event)"
        (dragenter)="tester($event)"
        (dragleave)="tester2($event)"
      >
        <mat-list-item *ngFor="let very of veryDescriptive; let i = index;">
          {{ very.name }}
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="somewhatDescriptive.length < 6 && veryDescriptive.length === 3 && !instructions">
      <h3> Somewhat Descriptive </h3>
      <h5>Drag {{ 6 - somewhatDescriptive.length }} more words from the right</h5>
      <mat-list
        class="survey-sections__drop-area"
        (drop)="drop('somewhatDescriptive', $event)"
        (dragover)="allowDrop($event)"
        (dragenter)="tester($event)"
        (dragleave)="tester2($event)"
      >
        <mat-list-item *ngFor="let somewhat of somewhatDescriptive; let i = index;">
          {{ somewhat.name }}
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="slightlyDescriptive.length < 8 && somewhatDescriptive.length === 6 && !instructions">
      <h3> Slightly Descriptive </h3>
      <h5>Drag {{ 8 - slightlyDescriptive.length }} more words from the right </h5>
      <mat-list
        class="survey-sections__drop-area"
        (drop)="drop('slightlyDescriptive', $event)"
        (dragover)="allowDrop($event)"
        (dragenter)="tester($event)"
        (dragleave)="tester2($event)"
      >
        <mat-list-item *ngFor="let slightly of slightlyDescriptive; let i = index;">
          {{ slightly.name }}
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="notVeryDescriptive.length < 6 && slightlyDescriptive.length === 8 && !instructions">
      <h3> Not Very Descriptive </h3>
      <h5>Drag {{ 6 - notVeryDescriptive.length }} more words from the right</h5>
      <mat-list
        class="survey-sections__drop-area"
        (drop)="drop('notVeryDescriptive', $event)"
        (dragover)="allowDrop($event)"
        (dragenter)="tester($event)"
        (dragleave)="tester2($event)"
      >
        <mat-list-item *ngFor="let notVery of notVeryDescriptive; let i = index;">
          {{ notVery.name }}
        </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="notAtAllDescriptive.length < 3 && notVeryDescriptive.length === 6 && !instructions">
      <h3> Not At All Descriptive </h3>
      <h5>Drag {{ 3 - notAtAllDescriptive.length }} more words from the right</h5>
      <mat-list
        class="survey-sections__drop-area"
        (drop)="drop('notAtAllDescriptive', $event)"
        (dragover)="allowDrop($event)"
        (dragenter)="tester($event)"
        (dragleave)="tester2($event)"
      >
        <mat-list-item *ngFor="let notAtAll of notAtAllDescriptive; let i = index;">
          {{ notAtAll.name }}
        </mat-list-item>
      </mat-list>
    </div>

    <br>

    <div class="survey-pyramid__button-row">
      <a class="utility__button--primary" *ngIf="!instructions" (click)="resetSurvey()"> Reset Survey </a>
      <a class="utility__button--primary" *ngIf="!instructions" (click)="showInstructions()"> Show Instructions </a>
      <a class="utility__button--primary" *ngIf="importedWordBank.length === 0 && !instructions" (click)="setCategories()"> Review and Submit </a>
    </div>
  </div>

  <div style="max-height: 500px;">
    <mat-list class="right-pane-wordlist" *ngIf="importedWordBank.length > 0 && !instructions">
      <mat-list-item *ngFor="let word of importedWordBank; let i = index" (dragstart)="dragWord(i)" draggable="true" class="list-words" title="{{ word.definition }}">
        {{ word.name }}
      </mat-list-item>
    </mat-list>
  </div>
</div>
