<div [formGroup]="parent" class="survey-info">

  <mat-list formArrayName="surveys" class="survey__list">
    <mat-list-item *ngFor="let survey of surveySubjects; let i = index;" class="survey__subject">
      <div [formGroupName]="i" class="survey__subject-width">

        <div class="utility__container">
          <div class="utility__col">
            <h4 class="survey__subject--name">{{ survey.value.lastName }}, {{ survey.value.firstName }}</h4>
          </div>
          <div class="utility__col utility__right">
            <mat-icon matListIcon class="icons" (click)="passSubject(survey.value)">refresh</mat-icon>
            <mat-icon matListIcon class="icons">mail</mat-icon>
            <mat-icon matListIcon class="icons" (click)="deleteSubject(survey.value._id, i)">delete</mat-icon>
          </div>
        </div>
        <div class="utility__container">
          <div class="utility__col">
            <span class="survey__subject--email">{{ survey.value.email }}</span>
          </div>
        </div>
        <div class="utility__container">
          <div class="utility__col">
            <span class="survey__subject--status" *ngIf="survey.value.completed"> Closed </span>
            <span class="survey__subject--status" *ngIf="!survey.value.completed"> Open </span>
          </div>
          <div class="utility__col utility__right">
            <span class="survey__subject--notified"> Times Notified: {{ survey.value.notifiedCount }}</span>
          </div>
        </div>

      </div>
    </mat-list-item>
  </mat-list>

</div>
