<div class="survey-instructions" >
  <p>You will be asked to choose the words that you most associate with your Organization ({{org.name}}), from Most Descriptive of your Culture to Not Descriptive at All.
    First, assign the 26 words to one of three categories: Most Like the Culture, Somewhat Like the Culture, and Least Like the Culture.
    Click on the word and (while holding down the mouse) drag and drop into the appropriate category.
    You can move between categories until you are satisfied.</p>

  <div class="survey-filler_begin">
    <a class="utility__button--primary" (click)="closeInstructions()"> Close </a>
  </div>
</div>
<div class="survey-cultures" >
  <div class="dot">
    <mat-icon (click)="openInstructions()"
    matTooltip="Click to open instructions"
    matTooltipPosition ="above"
    matTooltipShowDelay="250"
    matTooltipHideDelay="1000"
    >info
    </mat-icon>
  </div>
  <div class="example-all-container">
    <div class="header">ALL CULTURES</div>
    <div
      cdkDropList
      #allTodoList="cdkDropList"
      [cdkDropListData]="allWordBank"
      [cdkDropListConnectedTo]="[todoList,doneList,almostList]"
      class="example-all-list"
      (cdkDropListDropped)="dropEvent($event)">
      <div class="example-box-all" *ngFor="let bank of allWordBank" cdkDrag>
        <mat-expansion-panel  class="example-box"  [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title >
            </mat-panel-title>
            <mat-panel-description class="example-box-title-all">
                {{bank.name}}
            </mat-panel-description>
          </mat-expansion-panel-header>
            {{ bank.definition }}
        </mat-expansion-panel>
      </div>
    </div>
  </div>
  <div class="">
    <div class="example-container-wrap">
      <div class="example-container">
      <div class="header"> MOST LIKE THE CULTURE</div>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="moveWordBank"
        [cdkDropListConnectedTo]="[doneList,almostList]"
        class="example-list"
        (cdkDropListDropped)="dropEvent($event)">
        <div class="example-box-cell" *ngFor="let bank of moveWordBank" cdkDrag>
          <mat-expansion-panel  class="example-box">
            <mat-expansion-panel-header>
              <mat-panel-title >
              </mat-panel-title>
              <mat-panel-description class="example-box-title">
                  {{bank.name}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            {{ bank.definition }}
          </mat-expansion-panel>
        </div>
        </div>
      </div>
      <div class="example-container">
        <div class="header">SOMEWHAT LIKE THE CULTURE</div>
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="moveWordBank2"
          [cdkDropListConnectedTo]="[todoList,almostList]"
          class="example-list"
          (cdkDropListDropped)="dropEvent($event)">
          <div class="example-box-cell" *ngFor="let bank of moveWordBank2" cdkDrag>
            <mat-expansion-panel  class="example-box">
              <mat-expansion-panel-header>
                <mat-panel-title >
                </mat-panel-title>
                <mat-panel-description class="example-box-title">
                    {{bank.name}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              {{ bank.definition }}
            </mat-expansion-panel>
          </div>
        </div>
      </div>
      <div class="example-container">
        <div class="header">LEAST LIKE THE CULTURE</div>
        <div
          cdkDropList
          #almostList="cdkDropList"
          [cdkDropListData]="moveWordBank3"
          [cdkDropListConnectedTo]="[todoList,doneList]"
          class="example-list"
          (cdkDropListDropped)="dropEvent($event)">
          <div class="example-box-cell" *ngFor="let bank of moveWordBank3" cdkDrag>
            <mat-expansion-panel  class="example-box">
              <mat-expansion-panel-header>
                <mat-panel-title >
                </mat-panel-title>
                <mat-panel-description class="example-box-title">
                    {{bank.name}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              {{ bank.definition }}
            </mat-expansion-panel>
          </div>
        </div>
      </div>
    </div>
    <div class="survey-filler_continue">
      <button class="utility__button--primary" *ngIf="allWordBank.length === 0" (click)="setFilters()"> Continue </button>
    </div>
  </div>
</div>

