$color-basic-white: #f1f1f1;
$color-solid-white: #ffffff;
$color-accent-pink: #dd33dd;
$color-accent-green: #7cfc01;
$color-matte-black: #3d3d3d;

.survey__list {
  background-color: #E8E8E8;
  height: 35rem;
  margin-bottom: 1.5rem;
  overflow: scroll;
  padding-top: 0;
  & .survey__subject {
    border-bottom: 1px solid $color-matte-black;
    height: 7rem;
    font-size: .75rem;
    &:hover {
      background-color: $color-solid-white;
    }
    & .survey__subject-width {
      width: 100%;
    }
  }
}
.survey__list--header {
  align-items: center;
  background-color: #E8E8E8;
  border-bottom: 1px solid $color-matte-black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 4rem;
  justify-content: flex-start;
  padding: 0 .75em 0 .75em;
  & > * {
    flex: 1;
  }
}
.survey__subject--name {
  font-family: "Avenir Next", sans-serif;
  font-weight: lighter;
  &:hover {
    cursor: pointer;
    color: $color-accent-pink;
    font-weight: normal;
  }
}
.survey__subject--email {
  font-family: "Avenir Next", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
}
.survey__subject--status {
  font-family: "Avenir Next", sans-serif;
  font-weight: lighter;
  font-size: .75rem;
}
.survey__subject--notified {
  font-family: "Avenir Next", sans-serif;
  font-weight: lighter;
  font-size: .75rem;
}

.survey__icons {
  color: $color-matte-black;
  &:hover {
    cursor: pointer;
    color: $color-accent-pink;
  }
}
