$color-tm-blue: rgb(0, 136, 199);
$color-tm-orange: rgba(250, 166, 26, 0.50);

mat-form-field {
  width: 50%;
}

.orangehover:hover {
  background: $color-tm-orange;
}

.mat-form-field-label {
  color: $color-tm-blue;
}

mat-label {
  color: $color-tm-blue;
}

.survey-personal_buttons  {
  display: flex;
  justify-content: center;
}




