
<div class="customers" [hidden]="viewDisplay">
  <div class="customers_col">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <address [parent]="customerForm" (address)="testEmit($event)"></address>
      <customer-info [parent]="customerForm"></customer-info>
      <div class="customers_buttons">
        <button type="button" class="utility__button--primary" *ngIf="customer"  [disabled]="!customerForm.valid" (click)="onSubmit()"> Update </button>
        <button type="button" class="utility__button--primary" *ngIf="!customer && viewType =='View'"   [disabled]="!customerForm.valid" (click)="onSubmit()">Create </button>
        <button type="button" class="utility__button--primary" *ngIf="customer" (click)="onDelete()"> Delete </button>
        <button type="button" class="utility__button--primary" *ngIf="customerForm.dirty || customer" (click)="refreshForm()"> Reset </button>
        <button type="button" class="utility__button--primary" *ngIf="customer" (click)="onToggleDisplay()"> Cancel </button>
      </div>
      <br/>
      <br/>
    </form>
  </div>
</div>

<div class="customers" *ngIf="customer" [hidden]="!viewDisplay">
  <div class="customers_col">
    <form [formGroup]="customerViewForm">
      <app-address-view [parent]="customerViewForm" [customer]="customer"></app-address-view>
    </form>
    <div class="view_info_container" >
      <div style="width: 1024px;"></div>
      <div class="view_info_col mat-form-field mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float mat-form-field-has-label mat-form-field-should-float" >
        <div class="mat-form-field-wrapper">
          <div class="mat-form-field-flex">
            <div class="mat-form-field-infix">
              <span class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored">
                {{customer.firstName}}&nbsp;
              </span>
              <span class="mat-form-field-label-wrapper">
                <label class="mat-form-field-label" >
                  <mat-label>First Name</mat-label>
                </label>
              </span>
            </div>
          </div>
          <div class="mat-form-field-underline">
            <span class="mat-form-field-ripple"></span>
          </div>
          <div class="mat-form-field-subscript-wrapper" >
            <div class="mat-form-field-hint-wrapper" style="opacity: 1; transform: translateY(0%);">
              <div class="mat-form-field-hint-spacer"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="view_info_col mat-form-field mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float mat-form-field-has-label mat-form-field-should-float" >
        <div class="mat-form-field-wrapper">
          <div class="mat-form-field-flex">
            <div class="mat-form-field-infix">
              <span class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored">
                {{customer.lastName}}&nbsp;
              </span>
              <span class="mat-form-field-label-wrapper">
                <label class="mat-form-field-label" >
                  <mat-label >Last Name</mat-label>
                </label>
              </span>
            </div>
          </div>
          <div class="mat-form-field-underline ">
            <span class="mat-form-field-ripple"></span>
          </div>
          <div class="mat-form-field-subscript-wrapper">
            <div class="mat-form-field-hint-wrapper" style="opacity: 1; transform: translateY(0%);">
              <div class="mat-form-field-hint-spacer"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="view_info_col mat-form-field ng-tns-c10-10 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float mat-form-field-has-label ng-untouched ng-pristine ng-valid ng-star-inserted mat-form-field-should-float" color="primary" ng-reflect-color="primary" ng-reflect-appearance="fill">
        <div class="mat-form-field-wrapper">
          <div class="mat-form-field-flex">
            <div class="mat-form-field-infix">
              <span class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored" >
                {{customer.companyName}}&nbsp;
              </span>
              <span class="mat-form-field-label-wrapper">
                <label class="mat-form-field-label" >
                  <mat-label>Company</mat-label>
                </label>
              </span>
            </div>
          </div>
          <div class="mat-form-field-underline">
            <span class="mat-form-field-ripple"></span>
          </div>
          <div class="mat-form-field-subscript-wrapper" >
            <div class="mat-form-field-hint-wrapper" style="opacity: 1; transform: translateY(0%);">
              <div class="mat-form-field-hint-spacer"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="view_info_col mat-form-field mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float mat-form-field-has-label mat-form-field-should-float" >
        <div class="mat-form-field-wrapper">
          <div class="mat-form-field-flex">
            <div class="mat-form-field-infix">
              <span class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored">
                {{customer.email}}&nbsp;
              </span>

              <span class="mat-form-field-label-wrapper">
                <label class="mat-form-field-label">
                  <mat-label _ngcontent-uqn-c8="" class="ng-star-inserted">E-mail</mat-label>
                </label>
              </span>
            </div>
          </div>
          <div class="mat-form-field-underline">
            <span class="mat-form-field-ripple"></span>
          </div>
          <div class="mat-form-field-subscript-wrapper" ng-reflect-ng-switch="hint">
            <div class="mat-form-field-hint-wrapper" style="opacity: 1; transform: translateY(0%);">
              <div class="mat-form-field-hint-spacer">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div  class="view_info_col mat-form-field mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float mat-form-field-has-label mat-form-field-should-float" >
        <div class="mat-form-field-wrapper">
          <div class="mat-form-field-flex">
            <div class="mat-form-field-infix">
              <span class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored" >
                {{customer.phone}}&nbsp;
              </span>
              <span class="mat-form-field-label-wrapper">
                <label class="mat-form-field-label" >
                  <mat-label >Phone</mat-label>
                </label>
              </span>
            </div>
          </div>
          <div class="mat-form-field-underline">
            <span class="mat-form-field-ripple"></span>
          </div>
          <div class="mat-form-field-subscript-wrapper" >
            <div class="mat-form-field-hint-wrapper" style="opacity: 1; transform: translateY(0%);">
              <div class="mat-form-field-hint-spacer"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="view_info_col mat-form-field mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float mat-form-field-has-label mat-form-field-should-float">
        <div class="mat-form-field-wrapper">
          <div class="mat-form-field-flex">
            <div class="mat-form-field-infix">
              <span class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored">
                  {{customer.countryCode}}&nbsp;
              </span>
              <span class="mat-form-field-label-wrapper">
                <label class="mat-form-field-label" >
                  <mat-label >Country Code</mat-label>
                </label>
              </span>
            </div>
          </div>
          <div class="mat-form-field-underline">
            <span class="mat-form-field-ripple"></span>
          </div>
          <div class="mat-form-field-subscript-wrapper" ng-reflect-ng-switch="hint">
            <div class="mat-form-field-hint-wrapper" style="opacity: 1; transform: translateY(0%);">
              <div class="mat-form-field-hint-spacer">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="view_info_col mat-form-field mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float mat-form-field-should-float mat-form-field-has-label">
        <div class="mat-form-field-wrapper">
          <div class="mat-form-field-flex">
            <div class="mat-form-field-infix">
              <span class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored" >
                {{customer.taxId}}
              </span>
              <span class="mat-form-field-label-wrapper">
                <label class="mat-form-field-label">
                  <mat-label>Tax Id</mat-label>
                </label>
              </span>
            </div>
          </div>
          <div class="mat-form-field-underline">
            <span class="mat-form-field-ripple"></span>
          </div>
          <div class="mat-form-field-subscript-wrapper" >
              <div class="mat-form-field-hint-wrapper" style="opacity: 1; transform: translateY(0%);">
                <div class="mat-form-field-hint-spacer"></div>
              </div>
          </div>
        </div>
      </div>
      <div class="view_info_col mat-form-field mat-primary mat-form-field-type-mat-input mat-form-field-appearance-fill mat-form-field-can-float mat-form-field-should-float mat-form-field-has-label">
          <div class="mat-form-field-wrapper">
            <div class="mat-form-field-flex">
              <div class="mat-form-field-infix">
                <span class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored" >
                  {{customer.hris}}&nbsp;
                </span>
                <span class="mat-form-field-label-wrapper">
                  <label class="mat-form-field-label">
                    <mat-label>HRIS</mat-label>
                  </label>
                </span>
              </div>
            </div>
            <div class="mat-form-field-underline">
              <span class="mat-form-field-ripple"></span>
            </div>
            <div class="mat-form-field-subscript-wrapper" >
                <div class="mat-form-field-hint-wrapper" style="opacity: 1; transform: translateY(0%);">
                  <div class="mat-form-field-hint-spacer"></div>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div class="customers_buttons">
        <button type="button" class="utility__button--primary" *ngIf="customer" (click)="onToggleDisplay()"> Edit </button>
    </div>
    <app-organization-list [customerId]=customer._id></app-organization-list>
  </div>
</div>

