
<div class="customers" [hidden]="viewDisplay">
  <div class="customers_col">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <address [parent]="customerForm" (address)="testEmit($event)"></address>
      <app-customer-info [parent]="customerForm"></app-customer-info>
      <div class="customers_buttons">
        <button type="button" class="utility__button--primary" *ngIf="customer"  [disabled]="!customerForm.valid" (click)="onSubmit()"> Update </button>
        <button type="button" class="utility__button--primary" *ngIf="!customer && viewType =='View'"   [disabled]="!customerForm.valid" (click)="onSubmit()">Create </button>
        <button type="button" class="utility__button--primary" *ngIf="customer" (click)="onDelete()"> Delete </button>
        <button type="button" class="utility__button--primary" *ngIf="customerForm.dirty || customer" (click)="refreshForm()"> Reset </button>
        <button type="button" class="utility__button--primary" *ngIf="customer" (click)="onToggleDisplay()"> Cancel </button>
      </div>
      <br/>
      <br/>
    </form>
  </div>
</div>

<div class="customers" *ngIf="customer" [hidden]="!viewDisplay">
  <div class="customers_col">
    <form [formGroup]="customerViewForm">
      <app-address-view [parent]="customerViewForm" [customer]="customer"></app-address-view>
      <app-customer-info-view [parent]="customerViewForm" [customer]="customer"></app-customer-info-view>
    </form>
    <div class="customers_buttons">
        <button type="button" class="utility__button--primary" *ngIf="customer" (click)="onToggleDisplay()"> Edit </button>
    </div>
    <app-organization-list [customerId]=customer._id></app-organization-list>
  </div>
</div>

