<div [formGroup]="parent" class="word-dialog">

  <mat-form-field appearance="fill" color="primary">
    <mat-label> Word </mat-label>
    <input matInput formControlName="name" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill" color="primary">
    <mat-label> Definition </mat-label>
    <input matInput formControlName="definition" type="text">
  </mat-form-field>

  <mat-form-field appearance="fill" color="primary">
    <mat-label> Point Value </mat-label>
    <input matInput formControlName="value" type="number">
  </mat-form-field>

  <mat-form-field appearance="fill" color="primary">
      <mat-label> Antonym </mat-label>
      <input matInput formControlName="antonym" type="text">
    </mat-form-field>

</div>

<div>
  <button class="utility__button--primary" [disabled]="!parent.valid" *ngIf="!parent.value.name" (click)="createWord()"> Create </button>
  <button class="utility__button--primary" [disabled]="!parent.valid" *ngIf="parent.value.name" (click)="updateWord()"> Update </button>
</div>
