$color-tm-blue: rgb(0, 136, 199);
$color-tm-orange: rgba(250, 166, 26);
$color-tm-red: rgba(240, 90, 34);

.survey-output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .survey-output__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > div {
      line-height: 2;
    }
  }
}

.survey-output__container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  &.survey-output__container-body {
    min-height: 200px;
    padding: 1rem 0;
  }
  & .survey-output__fill {
    flex: 1 1 auto;
  }
  & .survey-output__col {
    flex: 1;
    & .survey-output__header-title {
      font-family: "Avenir Next", sans-serif;
    }
    & .survey-output__header-email {
      font-family: "Avenir Next", sans-serif;
      font-weight: lighter;
    }
  }
  &:not(:last-child) {
    //margin-bottom: 1rem;
  }
  & .survey-output__left-side {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    & div {
      font-size: .8rem;
      transform: rotate(-90deg);
    }
  }
  &.survey-output__header {
    text-align: left;
    width: 100%;
  }
}

.survey-output__word {
  //flex: 1;
  //text-align: center;
  white-space: nowrap;
  &:not(:last-child) {
    margin-right: .75rem;
  }
}

.utility__right {
  text-align: right;
}

.utility__hover {
  cursor: pointer;
  &:hover {
    rotation-point: 50% 50%;
    rotation: 90deg;
  }
}

.utility__rule {
  display: block;
  border-top: 1px solid rgba(0, 0, 0, .12);
  width: 100%
}

.utility__rotate {
  &:hover {
    color: $color-tm-orange;
    transform: rotate(45deg);
    transition: all .5s;
  }
}
