
  <div class="mat-form-field-wrapper">
    <div class="mat-form-field-flex">
      <div class="mat-form-field-infix">
        <span class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored">
            {{getValue(formField.key,formField.isSelect, formField.referenceField )}}&nbsp;
        </span>
        <span class="mat-form-field-label-wrapper">
          <label class="mat-form-field-label" >
            <mat-label>{{ formField.value }}</mat-label>
          </label>
        </span>
      </div>
    </div>
    <div class="mat-form-field-underline">
      <span class="mat-form-field-ripple"></span>
    </div>
    <div class="mat-form-field-subscript-wrapper" >
      <div class="mat-form-field-hint-wrapper" style="opacity: 1; transform: translateY(0%);">
        <div class="mat-form-field-hint-spacer"></div>
      </div>
    </div>
  </div>
