<div class="customers">
  <div class="customers_col">
    <div class="row_container">
      <mat-form-field class="surveys__select row_column column-60">
        <mat-select>
          <mat-option *ngFor="let survey of surveys" (click)="selectSurvey(survey)" [value]="survey._id">
            {{ survey.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="row_column column-40 left-center-images">
          <mat-icon matListIcon class="survey__icons ">delete</mat-icon>
      </div>
    </div>

    <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" class="row_container" >

      <mat-form-field appearance="fill" color="primary" class="row_column column-30">
          <mat-label> Name </mat-label>
          <input matInput formControlName="name" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill" color="primary" class="row_column column-30">
          <mat-label> Word Bank </mat-label>
          <mat-select formControlName="wordBankId">
            <mat-option *ngFor="let wordBank of wordBanks" value="{{ wordBank._id }}">
              {{ wordBank.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="row_column column-40 left-center-images">
            <mat-icon matListIcon class="survey__icons">save</mat-icon>
            <mat-icon matListIcon class="survey__icons">add_circle</mat-icon>
        </div>

      <survey-subject class="row_column column-60" [surveyId]="surveyId" [wordBankId]="wordBankId" *ngIf="surveyId && wordBankId"></survey-subject>

      <!--
      <div class="surveys__buttons">
        <a class="utility__button--primary" (click)="updateSurvey()">Update</a>
        <a class="utility__button--primary" (click)="createSurvey()" *ngIf="!survey">Create</a>
        <a class="utility__button--primary" (click)="resetForm()" *ngIf="survey || surveyForm.get('name').dirty">Reset</a>
        <a class="utility__button--primary" (click)="deleteSurvey()" *ngIf="survey">Delete</a>
      </div>
      -->
      <!--<pre>{{ surveyForm.value | json }}</pre>-->

    </form>
  </div>
</div>

