<div class="survey-introduction" >

  <p>You have been sent this short assessment to help identify the Culture within your organization, {{org.name}}. The assessment should take around 10 minutes to complete.
  The Culturistics assessment is based on twenty-six (26) words that are associated with various types of organizational culture.</p>

  <p>It is important that when answering the survey that you consider what the actual culture is versus what you desire the culture to be.
  <b>Distinguish “real” culture” from “aspirational” culture</b>. Often there is a “wish-list” version of company culture that the executive team wants
  the company to embrace, while there is an actual culture that the employees live and practice on the ground. The aspirational culture is the stuff
  you see in the handbooks, the memos, and the posters. The real culture emerges more informally and organically; however, it doesn’t mean that the
  two aren’t actually the same.</p>

  <p> According to culture expert Edgar Schein, a good way to assess any organization’s culture is to look at: </p>
  <ul>
    <li> Its <b>artifacts</b> – the things you can see, such as the mode of dress, the look and feel of the office space, the written values and mission statements, the products, the outer rituals and practices </li>
    <li> Its <b>espoused values</b> – what people say are the company’s values, the company’s official code of conduct, the traits its leaders and managers strive to project  </li>
    <li> Its underlying <b>assumptions</b> – the meaning behind the artifacts and espoused values; the ingrained values that have been unconsciously adopted; the taken-for-granted beliefs </li>
  </ul>

  <p>The Culturistics Assessment is very useful in determining the degree to which an organization's culture supports its mission and goals, and in
    identifying underlying elements in the culture which may work against full achievement of its mission and goals.</p>

  <div class="survey-intro_buttons">
    <button class="utility__button--primary" (click)="confirmIntro()">Confirm </button>
  </div>
</div>


