<mat-drawer-container class="survey-external__environment">
  <mat-drawer-content class="survey-external__content">

    <mat-toolbar class="survey-external__toolbar" *ngIf="surveySubject">
      <div class="survey-external_logo"></div>
      <div class="utility__fill"></div>
      <div class="survey-external__toolbar--notifications">
        <i class="material-icons">payment</i>
        <i class="material-icons">work</i>
        <div class="survey-external__icon-super">
          <i class="material-icons">notifications</i>
          <div style="position: absolute; width: .75rem; height: .75rem; background-color: red; border-radius: 5rem; top: 0; right: 0; font-size: .75rem;">
            <sup class="survey-external__notification">{{ surveySubject.surveyInfo.notifiedCount }}</sup>
          </div>
        </div>
      </div>
      <span class="survey-external__toolbar--right">
        {{ surveySubject.personalInfo.firstName + ' ' + surveySubject.personalInfo.lastName }}
      </span>
    </mat-toolbar>

    <form [formGroup]="surveySubjectForm" *ngIf="surveySubjectForm" class="survey-external__form">
      <mat-accordion multi="false">
        <mat-expansion-panel class="survey-external__personal-info" [expanded]="step === 1" *ngIf="!surveySubject.surveyInfo.completed">
          <mat-expansion-panel-header (click)="setStep(1)">
            <mat-panel-title>
              Step One
            </mat-panel-title>
            <mat-panel-description>
              Review your personal information
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-survey-personal [parent]="personalInfo" (update)="setPersonal($event)"></app-survey-personal>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" *ngIf="wordBank && !surveySubject.surveyInfo.completed">
          <mat-expansion-panel-header (click)="setStep(2)">
            <mat-panel-title> Step Two </mat-panel-title>
            <mat-panel-description> Introduction </mat-panel-description>
          </mat-expansion-panel-header>
          <app-survey-intro [org]="organization" (update)="setIntro($event)"></app-survey-intro>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 3" *ngIf="wordBank && !surveySubject.surveyInfo.completed">
          <mat-expansion-panel-header (click)="setStep(3)">
            <mat-panel-title> Step Three </mat-panel-title>
            <mat-panel-description> Start Survey </mat-panel-description>
          </mat-expansion-panel-header>
          <app-survey-filter [parent]="filters" [wordBank]="wordBank"  [org]="organization" (update)="setFilters($event)"></app-survey-filter>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 4" *ngIf="wordBank && !surveySubject.surveyInfo.completed">
          <mat-expansion-panel-header (click)="setStep(4)">
            <mat-panel-title> Step Four </mat-panel-title>
            <mat-panel-description> Finalize Cultures </mat-panel-description>
          </mat-expansion-panel-header>
          <app-survey-tower [filters]="filters" [filter1]="filter1" [filter2]="filter2" [filter3]="filter3" [categories]="categories" (update)="setCategories($event)"></app-survey-tower>
        </mat-expansion-panel>

        <!--
        <mat-expansion-panel [expanded]="step === 4" *ngIf="wordBank && !surveySubject.surveyInfo.completed">
          <mat-expansion-panel-header (click)="setStep(4)">
            <mat-panel-title> Step Four </mat-panel-title>
            <mat-panel-description> Complete Survey </mat-panel-description>
          </mat-expansion-panel-header>
          <app-survey-pyramid [parent]="categories" [wordBank]="wordBank" (update)="setCategories($event)"></app-survey-pyramid>
        </mat-expansion-panel>
        -->

<!--        <mat-expansion-panel [expanded]="step === 2" *ngIf="step === 2 && !surveySubject.surveyInfo.completed">-->
<!--          <mat-expansion-panel-header (click)="setStep(2)">-->
<!--            <mat-panel-title>-->
<!--              Step Two-->
<!--            </mat-panel-title>-->
<!--            <mat-panel-description>-->
<!--              Complete survey-->
<!--            </mat-panel-description>-->
<!--          </mat-expansion-panel-header>-->
<!--          <survey-categories [parent]="categories" [wordBank]="wordBank" *ngIf="categories && wordBank" (update)="setCategories($event)"></survey-categories>-->
<!--        </mat-expansion-panel>-->

        <mat-expansion-panel [expanded]="step === 5" *ngIf="!surveySubject.surveyInfo.completed">
          <mat-expansion-panel-header (click)="setStep(5)">
            <mat-panel-title>
              Step Five
            </mat-panel-title>
            <mat-panel-description>
              Review and send
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-survey-output [completed]="completed" [personalInfo]="personalInfo" [surveySubjectCategories]="categories"></app-survey-output>
          <div>
            <div class="survey-external_button-row" *ngIf="surveySubjectForm.valid">
              <a class="utility__button--primary" (click)="updateSurveySubject()" *ngIf="!surveySubject.surveyInfo.completed"> Submit </a>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 6" *ngIf="surveySubject.surveyInfo.completed">
          <mat-expansion-panel-header (click)="setStep(6)">
            <mat-panel-title>
              Confirmation
            </mat-panel-title>
            <mat-panel-description>
              Survey Results
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-survey-thankyou></app-survey-thankyou>
        </mat-expansion-panel>

      </mat-accordion>
    </form>
    <mat-error *ngIf="step === -1">
      This survey could not be found. Please check the link or contact your administrator for a new survey.
    </mat-error>

  </mat-drawer-content>
</mat-drawer-container>
