<div [formGroup]="parent">
  <map (verifiedAddress)="verifiedAddress($event)"></map>

  <div formGroupName="address" class="utility__container">
    <mat-form-field *ngFor="let field of formFields" appearance="fill" color="primary" [ngClass]="{
      'utility__col': true,
      'utility__25': field.class === 'utility__25',
      'utility__33': field.class === 'utility__33',
      'utility__50': field.class === 'utility__50',
      'utility__67': field.class === 'utility__67',
      'utility__75': field.class === 'utility__75',
      'utility__100': field.class === 'utility__100'
    }">
      <mat-label>{{ field.value }}</mat-label>
      <input matInput formControlName="{{field.key}}">
    </mat-form-field>
  </div>
</div>
