<div [formGroup]="parent">
  <app-map (verifiedAddress)="verifiedAddress($event)"></app-map>

  <div formGroupName="address" class="address_container">
    <mat-form-field *ngFor="let field of formFields" appearance="fill" color="primary" [ngClass]="{
      'address_col': true,
      'address_25': field.class === 'address_25',
      'address_33': field.class === 'address_33',
      'address_50': field.class === 'address_50',
      'address_67': field.class === 'address_67',
      'address_75': field.class === 'address_75',
      'address_100': field.class === 'address_100'
    }">
      <mat-label>{{ field.value }}</mat-label>
      <input matInput formControlName="{{field.key}}">
    </mat-form-field>
  </div>
</div>
